/*
{
    font-family: "Arial";
    text-align: center;
}


fieldset
{
	background-color: #ffffff;
	width: 400px;
	text-align: left;
	border-radius: 5px;
	border: 0px;
}


input
{
	border: 1px solid #02ae0b;
    margin-bottom: 7px;
	text-align: center;
	border-radius: 10px;
}


input[type=button]:hover,
input[type=submit]:hover
{
	background-color: #a0de1c;
	border-bottom: 3px solid #8bbf18;
}


input[type=button]

{
	background-color: #64C832;
	border-bottom: 1px solid #64C832;
	border-top: 1px solid #64C832;
	border-right: 1px solid #64C832;
	border-left: 1px solid #64C832;
	color: #ffffff;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 5px 8px;
	width: 230px;
	border-radius: 10px;
}

h1,
fieldset

{
	margin-left: auto;
	margin-right: auto;
}

h1
{
	color: #8bbf18;
	background-color: #ffffff;
	text-transform: uppercase;
	font-style: italic;
	font-size: 20px;
	padding: 5px;
	width: 500px;
	border-radius: 30px;
}

input[type=text]
{
   
    font-family:Exo 2;color:#64C832;font-weight:200;font-size:18px;line-height:0em
}
*/
img {
    max-width:220px;
    max-height:150px;
    width: auto;
    height: auto;
    left: 100px;
}


 /*
form label {
    font-family: 'IBM Plex Mono', monospace;
    font-size:14px;
    color:rgb(0, 102, 26);
    font-weight:bold;
    float:left;
}
.select {
	
	
	 height: 20px; 
	
	}
	
	.select{
	
		
		padding: 5px;
		display: grid;
		grid-template-columns: 120px ;
		margin-bottom: 0rem;
		margin:  30 auto; 
		border-radius: 10px;

	}
	.tipo{color: #02ae0b;
	}
	

	th
{
	background-color: #5b7b1d;
	color: #ffffff;
	text-transform: uppercase;
	padding: 3px;
}

tr:nth-child(even)
{
	background-color: #f3e6f7;
}

tr:nth-child(odd)
{
	background-color: #ffffff;
}

td
{
	padding: 3px;
}
 */
 
